/* Sindi Gurakuqi, Lab 8 */

body {
    margin: 0;
    background-color: rgb(202, 231, 241);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    position: relative;
    text-align: center;
    color: white;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 50vh;
}

form {
    text-align: center;
    margin-top: 20px;
}

table {
    margin: 100px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 3px solid #2f17b9;
}

th, td {
    padding: 10px;
    text-align: center;
}

tr:first-child {
    background-color: #2f17b9; 
    color: white;
}

td:first-child {
    background-color: #2f17b9; 
    color: white; 
}

#hit-counter {
    position: fixed;
    bottom: 100px;
    right: 100px;
    background-color: #2f17b9;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 24px;
}

#custom-image {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.6;
    max-width: 150px;
    max-height: 150px;
}